:host {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;

	h1,
	h2 {
		margin: 0;
	}
}

.tabs {
	overflow: hidden;
}

.tab {
	color: var(--gray);
	font-weight: 600;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: background-color 0.3s;

	&:hover {
		background-color: #ddd;
	}

	&.active,
	&.tab.active {
		color: var(--primary);
		border-bottom: .25rem solid #2DA799;
	}
}

.tab-content {
	padding: 20px;
}


.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	padding: 0 1rem;
	background-color: var(--primary);
	color: white;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}


.picture {
	display: flex;
	align-items: center;
}

.cam {
	border: none;
	background: none;
	cursor: pointer;
	border: 1px solid var(--primary);
	aspect-ratio: 1/1;
	height: 2rem;
	margin-right: 1rem;

	&:hover {
		background: #abfbf2;
	}
}

.loan-wrapper {
	display: flex;
	flex-wrap: row nowrap;
	align-items: center;
}

.control {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 1rem 0;

	&:has([aria-invalid="true"]) label {
		color: var(--error);
	}

}

.left {
	min-width: 600px;
}
