:host {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;

	h1,
	h2 {
		margin: 0;
	}
}

.tabs {
	overflow: hidden;
	margin: 0 0 2rem 0;
}

.tab {
	color: var(--gray);
	font-weight: 600;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: background-color 0.3s;

	&:hover {
		background-color: #ddd;
	}

	&.active,
	&.tab.active {
		color: var(--primary);
		border-bottom: .25rem solid #2DA799;
	}
}

.tab-content,
.loan,
.tabs {
	padding: 20px;
}


.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	padding: 0 1rem;
	background-color: var(--primary);
	color: white;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}


.picture {
	display: flex;
	align-items: center;
}

.upload {
	max-height: 150px;
}

.cam {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	cursor: pointer;
	border: 1px solid var(--primary);
	aspect-ratio: 1/1;
	height: 4rem;
	margin-right: 1rem;

	img {
		width: 2rem;


	}

	&:hover {
		background: #abfbf2;
	}
}

.loan-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.control {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 1rem 0;

	&:has([aria-invalid="true"]) label {
		color: var(--error);
	}

}

.left {
	min-width: 600px;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: lightgreen;
	height: 100%;
}

.echeck {
	height: 360px;
}

.help {
	cursor: pointer;
	margin-left: .5rem;
	color: var(--primary);
	font-size: .75rem;

	&:hover {
		text-decoration: underline;
	}
}
