.tabs {
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.tab {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: background-color 0.3s;
}

.tab:hover {
	background-color: #ddd;
}

.active,
.tab.active {
	background-color: #ccc;
}

.tab-content {
	padding: 20px;
}


.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	padding: 0 1rem;
	background-color: #2DA799;
	color: white;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}


.picture {
	display: flex;
	align-items: center;
}

.cam {
	border: none;
	background: none;
	cursor: pointer;
	border: 1px solid #2DA799;
	aspect-ratio: 1/1;
	height: 2rem;
	margin-right: 1rem;

	&:hover {
		background: #abfbf2;
	}
}
