<div>
	<h1>One-time Loan Payment</h1>
	<h2>Fill out the form below to complete your payment.</h2>
	<small>*All fields are required</small>
	<div class="loan-wrapper">
		<div class="left">
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="control loan">
					<label for="loanAccountNumber">Loan Account Number</label>
					<input [attr.aria-invalid]="shouldDisplayError('loanAccountNumber', 'numbersOnly') ? true : null" type="text"
						formControlName="loanAccountNumber">
					<div class="invalid" *ngIf="shouldDisplayError('loanAccountNumber', 'numbersOnly')">
						Please enter numbers only.
					</div>
				</div>

				<div class="tabs">
					<h2>Payment method</h2>
					<button type="button" class="tab" [class.active]="activeMethod() === 'check'"
						(click)="setMethod('check')">Check</button>
					<button type="button" class="tab" [class.active]="activeMethod() === 'debit'"
						(click)="setMethod('debit')">Debit</button>
				</div>

				<div class="tab-content">
					<div class="picture">
						<input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput style="display: none;">

						<button class="cam" type="button" (click)="fileInput.click()">
							<img src="/assets/cam.svg" alt="Take a picture of your {{typeOfPicture}}">
						</button>
						Auto fill with your {{typeOfPicture}}
					</div>
					<small>*For demo, use the included "check.jpg" or "debit.jpg"</small>

					@if(imageSrc) {
					<img class="upload" [src]="imageSrc" alt="image preview">
					}

					@if(activeMethod() === 'check') {

					<div class="control" *ngIf="form.get('routingNumber')">
						<div>
							<label for="routingNumber">Routing Number</label>
							<span class="help" (click)="openExplainerDialog()">Where can I find this?</span>
						</div>
						<input
							[attr.aria-invalid]="form.get('routingNumber')?.errors?.['routingNumberInvalid'] && form.get('routingNumber')?.touched"
							type="text" formControlName="routingNumber">
						<div class="invalid"
							*ngIf="form.get('routingNumber')?.errors?.['routingNumberInvalid'] && form.get('routingNumber')?.touched">
							Routing number must be no more than 9 numbers.
						</div>
					</div>

					<div class="control" *ngIf="form.get('accountNumber')">
						<label for="accountNumber">Account Number
							<span class="help" (click)="openExplainerDialog()">Where can I find this?</span>
						</label>
						<input [attr.aria-invalid]="shouldDisplayError('accountNumber', 'numbersOnly') ? true : null"
							formControlName="accountNumber">
						<div class="invalid" invalid *ngIf="shouldDisplayError('accountNumber', 'numbersOnly')">
							Please enter numbers only.
						</div>
					</div>

					<div class="control" *ngIf="form.get('confirmAccountNumber')">
						<label for="confirmAccountNumber">Confirm Account Number</label>
						<input
							[attr.aria-invalid]="form.get('confirmAccountNumber')?.invalid && form.get('confirmAccountNumber')?.touched ? true : null"
							formControlName="confirmAccountNumber">
						<div class="invalid" *ngIf="shouldDisplayError('confirmAccountNumber', 'numbersOnly')">
							Please enter numbers only.
						</div>
					</div>

					<div class="invalid"
						*ngIf="form.errors?.['accountNumberMismatch'] && form.get('confirmAccountNumber')?.touched && form.get('accountNumber')?.touched">
						Account numbers must match.
					</div>
					}

					@defer(when activeMethod() === 'debit') {
					@if(activeMethod() === 'debit') {
					<div class="control">
						<label for="cardNumber">Card Number</label>
						<input
							[attr.aria-invalid]="form.get('cardNumber')?.invalid && form.get('cardNumber')?.touched ? true : null"
							type="text" formControlName="cardNumber">
						<div class="invalid" invalid *ngIf="shouldDisplayError('cardNumber', 'numbersOnly')">
							Please enter numbers only.
						</div>
					</div>

					<div class="control">
						<label for="nameOnCard">Name on Card</label>
						<input
							[attr.aria-invalid]="form.get('nameOnCard')?.invalid && form.get('nameOnCard')?.touched ? true : null"
							type="text" formControlName="nameOnCard">
						<div class="invalid"
							*ngIf="form.get('nameOnCard')?.errors?.['required'] && form.get('nameOnCard')?.touched">
							This field is required.
						</div>
					</div>

					<div class="control">
						<label for="expirationDate">Expiration Date</label>
						<input
							[attr.aria-invalid]="form.get('expirationDate')?.invalid && form.get('expirationDate')?.touched ? true : null"
							type="text" formControlName="expirationDate">
						<div class="invalid"
							*ngIf="form.get('expirationDate')?.errors?.['required'] && form.get('expirationDate')?.touched">
							This field is required.
						</div>
					</div>

					<div class="control">
						<label for="cvv">CVV</label>
						<input [attr.aria-invalid]="form.get('cvv')?.invalid && form.get('cvv')?.touched ? true : null" type="text"
							formControlName="cvv">
						<div class="invalid" *ngIf="form.get('cvv')?.errors?.['cvvInvalid'] && form.get('cvv')?.touched">
							CVV must be exactly 3 numbers.
						</div>
					</div>
					}
					}

					<button class="submit" type="submit">Make Payment</button>
				</div>

			</form>
		</div>

	</div>
</div>


<dialog id="confirmationDialog" #confirmationDialog>
	<h2>Form Submission Confirmation</h2>
	<p>Your info has been submitted to a secure backend!</p>
	<small>*We hope</small>
	<pre>{{form.value| json}}</pre>
	<button (click)="closeDialog()">Thanks!</button>
</dialog>


<dialog id="explainer" #explainerDialog>
	@if(activeMethod() === 'check') {
	<img class="echeck" src="/assets/SVG/explainer-check.svg" alt="">
	}

	@if(activeMethod() === 'debit') {

	}
	<button (click)="closeExplainerDialog()">Thanks!</button>
</dialog>
